<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<link rel="shortcut icon" href="../static/favicon.ico">
  
  <title>DevTesting</title>
<style>
  #banner {
    height: 260px;
    object-fit: cover;
    width: 100%;
  }
</style>
</head>
  
<body>
  {% include 'nav.html' %}
    <img class = "img-fluid mb-2" id="banner" src="../static/1941.jpg">
  <div class = "container">
  <h1 class = "text-center mt-2 mb-4">Testing some Stuff</h1>
    <p class = "text-center mb-5" style="font-size: 0.9rem">(This page is being developed with Python/Flask on Replit/<a href="https://github.com/bowosh/WebDevOnReplit_Testing">Github</a> and is deployed on Render)</p>
   

<div class="row mb-4">
  <div class="col-6">

    
  <p class="lead" style="font-size: 1.4rem">
    Streng genommen bedeutet Sinn das Woraufhin des primären 
Entwurfs des Verstehens von Sein. Das sich selbst erschlossene 
In-der-Welt-sein versteht mit dem Sein des Seienden, das es selbst 
ist, gleichursprünglich das Sein des innerweltlich entdeckten Sei- 
enden, wenngleich unthematisch und sogar noch undifferenziert 
in seinen primären Modi der Existenz und Realität. Alle ontische 
Erfahrung von Seiendem, das umsichtige Berechnen des Zuhan- 
denen sowohl wie das positiv wissenschaftliche Erkennen des 
Vorhandenen, gründen in jeweils mehr oder minder durchsichti- 
gen Entwürfen des Seins des entsprechenden Seienden. Diese 
Entwürfe aber bergen in sich ein Woraufhin, aus dem sich gleich- 
sam das Verstehen von Sein nährt.
 </p>
  </div>
  
  <div class="col-6 text-end">
      <img src="/static/unsplash_keyboard.jpg" style="height: 380px; border-radius: 4px" >
  </div>
  

</div>
  <h2 class="text-center mt-5 mb-4">Open Positions</h2>  

    {% for job in jobs %}
      {% include 'jobitem.html' %}
    {% endfor %}

    <div class="text-center">
  <button class="btn btn-primary btn-lg" style="margin-top: 40px">Contact Me</button>
     
    </div>
  </div>


  {% include 'footer.html' %}
</body>
</html>




