
      <div class="border-bottom row" style="margin-bottom: 16px; padding-bottom: 8px;" >
     
        <div class="col-9">
        
        <h4 style="color: rgb(120,120,120); margin-bottom: 4px"><b>{{job['title']}} </b>
        </h4>
         <div>
          <b>Technology: </b>  {{job['techn']}}
         </div>  
        {%if 'descr' in job %}
        <div>
          <b>Description: </b>  {{job['descr']}} 
        </div> 
        {% endif %}

        </div>
        <div class="col-3 text-end">
        <a href="mailto:schimpfermann@gmx.de" type="button" class="btn btn-outline-secondary">Go to</a>
        </div>
      </div>  
    
       
    
